<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <span class='navbar-brand'>Demo Apps</span>
      </div>
      <div  class="navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active">
            <a routerLink="/gsearch" routerLinkActive="active">Search Git</a>
        </li>
          <li routerLinkActive="active">
            <a routerLink="/spotify" >SpotifyApp</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

